version: "3.8"
services:
  db:
    image: postgres:18
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: db_menu_tree
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build:
      context: ./backend
      target: dev
    volumes:
      - ./backend:/app
    ports:
      - "3000:3000"
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USERNAME: postgres
      DB_PASSWORD: postgres
      DB_NAME: db_menu_tree
    depends_on:
      - db

  frontend:
    build:
      context: ./frontend
      target: dev
    volumes:
      - ./frontend:/app
    ports:
      - "3001:3000"
    depends_on:
      - backend

volumes:
  db-data:
